@import "tailwindcss";

@theme {
  --color-primary: #1B0A9A;
  --color-background: "";
  --color-secondary: #9C958A
}

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

